body {
background: #e5e5e5 no-repeat center center fixed; //#3b5998
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

@media (max-width:600px) {
.style{
  margin-top: 5px;
    padding-left: 5%;
    margin-right:5%;
      padding-bottom: 200px;
      font-size: 15px;
}}

.style{
margin-top: 24px;
  padding-left: 10%;
  margin-right:10%;
    padding-bottom: 180px;

}

@media (max-width:600px) {
  .jumbotron {
    background-color: #006A96;
    color: #f2f2f2;
    padding-top: 1em;
    padding-bottom: 0px;
    margin:  0px;
  }
  .jumbotron  h1 {
    font-size: 20px;
  }
  .jumbotron h4 {
    font-size: 15px;
  }
}
.jumbotron{

  background-color: #006A96;
  color: #f2f2f2;
  padding-top: 1em;
  padding-bottom: 0px;
  margin:  0px;
}

h1{
font-family: 'Open Sans Condensed', sans-serif;
/*font-size: 50px;*/
/*letter-spacing: 40px;*/
}

p
{
letter-spacing: 1px;
margin-right: 10%;
margin-left: 10%;
}

.minihead{
background-color: #182B49;
    margin-bottom: 18px;
    margin-top: 40px;
    color: #f2f2f2;
    padding: 8px;
}
.indent{
  margin-left: 5%
}
.autofill{
color:#666666;
font-style: italic;
text-align: left;
}



.soft{
  color: #676768;
  font-size: 13px;
  alitext-align: left;
}


.nav-tabs > li > a {
  color: #f2f2f2;
}
.medtxt{
  font-size: 15px;
  text-align:left;
}
/*MDC elements made adaptive for cell phone*/
@media (max-width:600px) {
  .medtxt{
    font-size: 11px;
    text-align:left;
  }

.label_width{
  min-width:90px;
  font-size:10px;
}
.hw_entry{
  font-size: 10px;
  width: 120px;

}

.hw_select{
font-size: 10px;
width: 120px;
}
.hw_select_wide{
font-size: 10px;
min-width: 240px;
}
.unit_entry{
  font-size: 10px;
  min-width: 20px;
}
.hw_select_small{
  min-width: 20px;
  font-size:10px;
}
.flex_text{
font-size: 75%;
}
.CARGLabel {
  font-size: 10x;
}



}

/*Big screen*/
.flex_text{
.font-size:100%;

}

.label_width{
  width:20%;
}
.hw_select_small{
  min-width: 40px;
  font-size:12px;
}

.hw_entry{
  font-size: 14px;
  min-width: 44px;
  max-width: 100px;

}

.CARGLabel {
  font-size: 14px;
  margin-left: 10px;
}
.hw_select{
min-width: 60px;
font-size: 14px;
}
.hw_select_wide{
font-size: 14px;
width: 50%;
}
.unit_entry{
  font-size: 14px;
  min-width: 44px;

}

.G8Input{
min-width: 246px;
font-size: 14px;
}

.divider {
  height: 1px;
    background-color: darkgray;
    margin-top: -4px;
    margin-left: 0px;
}



.CARGRow {
  margin-bottom: 3px;
    margin-top: 3px;
}

.helpDiv {
  display: none;
  margin: 5px;
  margin-bottom: 20px;
  text-align: justify;
}

.verticalLine {
  border-left: thin solid lightgray;
}

.blankDivider {

margin-top: 8px
}

.CIRSTopicBtn {
  min-width: 240px;
  text-align: left;
  font-size: 12px;
}

.ACETopicBtn {
  min-width: 240px;
  text-align: left;
}
.ElgTopicBtn {
  min-width: 300px;
  text-align: center;
  font-size: 12px;

}

.PrintBtn {
  min-width: 200px;
  text-align: center;
  font-size: 12px;
  color: #182B49;

}

.helpDivTitle {
  font-weight: 700;
}

.CIRSRatingTitle {
  font-size: 22px;

}

.CIRSRadio {
  margin-left: -13px;
}

.ACERadio {
  margin-left: -13px;
}

.CIRSInstruct {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 18px;
  margin-right: -18px;
}

.formout{
  position: fixed;
   bottom: 0;
   width:100%;
   padding-bottom: 10px;
   padding-top: 10px;
   padding-left: 5%;
   padding-right: 5%;
   background-color: #006A96;
   color: #f2f2f2;
   text-align: center;
}
.well {
    background: #e5e5e5;
    margin: 0px;

}




.bigout{
  font-weight: bold;

}
.finalout{
  text-align:center;
  font-weight: bold;
}
@media (max-width:600px) {
.finalout{
  text-align:left;
  font-size:100%;
  font-weight: bold;
}
.finalout p{
  font-size:14px;


}
}

.center {

text-align: center;
}
.border{
  border:1px solid #white;"
}

.meetscrit{
  text-decoration:underline;
  font-weight: bold;
  color:#00cc00;
}
